{%extends 'base.html'%}

{% block title %}
<title>CsGo</title>

{% endblock %}

{% block content %}
<div class="container">
   <img src="/static/images/image.jpg"><h2>20₴</h2>
  <form>
                    <input onclick='location.href="https://donatello.to/flex13"' type="button" value="Buy now">
                  </form>
  <form>
                    <input type="button" value="Add to Cart" onclick='location.href="/cart"'>
                  </form>

</div>



<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/csgo1.jpg">

          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/csgo2.jpg">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/csgo3.jpg">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/csgo4.jpg">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/csgo5.jpg">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/csgo6.jpg">
          </div>
        </div>

      </div>
    </div>
  </div>

<h1>
  ПРО ЦЮ ГРУ
</h1>

<h3>
Counter-Strike: Global Offensive (CS:GO) продовжує розвивати командний бойовий ігролад, що зробив серію успішною багато років тому.

CS:GO пропонує нові мапи, персонажів, зброю, ігрові режими, а також оновлені версії класичного вмісту (de_dust2 тощо).

Даґ Ломбарді з Valve сказав: «Гра Counter-Strike захопила ігрову індустрію зненацька. Мод, який мав мало шансів на успіх, став найпопулярнішою грою-бойовиком для ПК майже одразу після виходу в серпні 1999-го. Протягом наступних 12 років CS продовжувала очолювати список ігор із найбільшою кількістю гравців, у неї грали на найбільших змагальних турнірах, і вона продалася накладом у 25 мільйонів копій (уся франшиза). CS:GO обіцяє розширити відзначені нагородами ігрові механіки й надати можливість грати не лише на ПК, але й на сучасних ігрових консолях і комп’ютерах на операційній системі Mac».
</h3>

{% endblock %}